body{
    text-align: center;
}

.year{
    margin:0 auto;
    margin-bottom: 20px;
    width: 50%;
}

.year label{
    position: relative;
    width: 50%;
}

.year label  ::before {
    position: absolute;
    content: '';
    pointer-events: none;
    display: inline-block;
    right: 0;
    width: 2.8em;
    height: 2.8em;
    border-radius: 0 3px 3px 0;
    background-color: #2589d0;
}
.year label ::after {
    position: absolute;
    content: '';
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 1.4em;
    transform: translate(50%, -50%) rotate(45deg);
    width: 6px;
    height: 6px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
}
.year select {
    width: 100%;
    font-size: 20px;
    appearance: none;
    min-width: 230px;
    height: 2.8em;
    padding: .4em 3.6em .4em .8em;
    border: none;
    border-radius: 3px;
    background-color: #e6edf3;
    color: #333;
    font-size: 1em;
    cursor: pointer;
}
.year select:focus {
    outline: 2px solid #2589d0;
}

.month{
    margin:0 auto;
    margin-bottom: 20px;
    width: 50%;
}

.month label{
    position: relative;
    margin-bottom: 20px;
    width: 50%;
}

.month label  ::before {
    position: absolute;
    content: '';
    pointer-events: none;
    display: inline-block;
    right: 0;
    width: 2.8em;
    height: 2.8em;
    border-radius: 0 3px 3px 0;
    background-color: #2589d0;
}
.month label ::after {
    position: absolute;
    content: '';
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 1.4em;
    transform: translate(50%, -50%) rotate(45deg);
    width: 6px;
    height: 6px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
}
.month select {
    width: 100%;
    font-size: 20px;
    appearance: none;
    min-width: 230px;
    height: 2.8em;
    padding: .4em 3.6em .4em .8em;
    border: none;
    border-radius: 3px;
    background-color: #e6edf3;
    color: #333;
    font-size: 1em;
    cursor: pointer;
}
.month select:focus {
    outline: 2px solid #2589d0;
}

.btn-submit{
    font-size: 20px;
    width: 20%;
    background-color:#e6edf3;
    border-radius: 10px;
    border: 2px solid #2589d0;
}
