<!-- templates/base_generic.html -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
  <title>シフト管理</title>
  <!-- Add your site-wide stylesheets and JavaScript files here -->
</head>

<style media="screen">
 
  td {
    width: 100px;
    height: 20px;
    text-align: center;
  }

</style>

<body>
  <header>
    <!-- Header content such as a logo and site navigation -->
  </header>

  <main>
    {% block content %}
    <!-- Content unique to each page will go here -->
    {% endblock %}
  </main>

  <footer>
    <!-- Footer content such as copyright information -->
  </footer>
</body>
</html>