<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>シフト作成</title>
<body>
    <form method="POST">
        {% csrf_token %}
        <label for="year">Year:</label><br>
        <input type="text" id="year" name="year"><br>
        <label for="month">Month:</label><br>
        <input type="text" id="month" name="month"><br>
        <input type="submit" value="日にちを表示">
    </form>
    <table>
        <tr>
          <th>Date</th>
          <th>Weekday</th>
        </tr>
        {% for day, weekday in days_with_weekday %}
          <tr>
            <td>{{ day }}</td>
            <td>{{ weekday }}</td>
          </tr>
        {% endfor %}
      </table>
</body>
</html>