<!DOCTYPE html>
{% extends "my_shift_app/base_generic.html" %}
<html>
    <head>
        <meta charset="utf-8">
        <title>シフト作成</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'my_shift_app/login_style.css' %}">
    </head>
    <body>

    {% block content %}
        <h1>ログイン画面</h1>

        <div class="reg">
            <form method="post" action="{% url 'my_shift_app:login' %}">
            {% csrf_token %}

            <table class="reg_form">
                <tr>
                    <td><label for="userid">ユーザーID:</label></td>
                    <td><input type="text" name="userid"></td>
                    <td><label for="password">パスワード：</label></td>
                    <td><input type="password" name="password"></td>
                </tr>
                </table>

                <input type="submit" class="btn" value="Login">
            </form>
        </div>
    {% endblock %}
    </body>
</html>
