<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>シフト作成</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'my_shift_app/manage_style.css' %}">

</head>
<body>
    <h2>シフト作成管理画面</h2>
     
    {% block content %}
    <!-- Shift management content here -->
    <a href="{% url 'my_shift_app:teacher' %}">先生一覧・登録ページへ</a><br>
    <a href="{% url 'my_shift_app:student' %}">生徒一覧・登録ページへ</a><br>
    <a href="{% url 'my_shift_app:student_schedule' %}">生徒日程・登録ページへ</a><br>
    <a href="{% url 'my_shift_app:shift_manage' %}">シフト管理ページへ</a><br>
    {% endblock %}

</body>