
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>シフト作成</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'my_shift_app/shift_table_style.css' %}">
</head>

<body>
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<h1>{{ year }}年{{ month }}月のシフト表</h1>
<form action ="" method="POST" id="shiftForm">
    {% csrf_token %}
    <table>
        <tr>
            <th>日</th>
            <th>曜日</th>
            <th>前半生徒</th>
            <th>後半生徒</th>
        </tr>

        {% for day, weekday in days_with_weekday %}
            {% if weekday == "土" %}
                <tr class="saturday">
            {% elif weekday == "日" %}
                <tr class="sunday">
            {% else %}
                <tr>
            {% endif %}
                    <td>{{ day }}</td>
                    <td>{{ weekday }}</td>
                    <td class="selectContainer">
                        <select name="student_first_{{ day }}[]" class="selectClass">
                            <option value="">生徒なし</option>
                            {% for student in students %}
                            <option value="{{ student.student_number }}">{{ student.name }}</option>
                            {% endfor %}
                        </select>
                        <div class="buttons">
                            <button class="addButton">追加</button>
                            <button class="deleteButton">削除</button>
                        </div>
                    </td>
                    <td class="selectContainer">
                        <select name="student_second_{{ day }}[]" class="selectClass">
                            <option value="">生徒なし</option>
                            {% for student in students %}
                            <option value="{{ student.student_number }}">{{ student.name }}</option>
                            {% endfor %}
                        </select>
                        <div class="buttons">
                            <button class="addButton">追加</button>
                            <button class="deleteButton">削除</button>
                        </div>
                    </td>
                </tr>
        {% endfor %}
    </table>
    <input type="submit" class="btn-submit" value="保存">
</form>

<script>
    $(document).ready(function() {
        $('.selectClass').on('change', function() {
            var selectedStudent = $(this).val();
            var selects = $(this).parent('.selectContainer').find('.selectClass');
            selects.each(function() {
                if ($(this).val() == selectedStudent && this !== event.target) {
                    alert('同じ生徒を同じ日に複数回選ぶことはできません。');
                    $(event.target).val(''); // Reset the select value
                }
            });
        });

        // 追加ボタンがクリックされたときのイベント
        $('.addButton').on('click', function(e) {
            e.preventDefault();
            var parent = $(this).closest('.selectContainer');
            var select = parent.find('.selectClass').first().clone();
            select.val('');  // クローンした選択ボックスの値をクリア
            parent.find(".buttons").before(select);
        });
    
        // 削除ボタンがクリックされたときのイベント
        $('.deleteButton').on('click', function(e) {
            e.preventDefault();
            var parent = $(this).closest('.selectContainer');
            var selects = parent.find('.selectClass');
            if (selects.length > 1) {  // 少なくとも1つの選択ボックスが残るように
                selects.last().remove();
            }
        });
    });
</script>

{% endblock %}

</body>
</html>

