{% extends "my_shift_app/base_generic.html" %}
{% load dict_helper %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<h1>{{ year }}年{{ month }}月のシフト表</h1>
<form action ="" method="POST">
    {% csrf_token %}
    <table>
        <tr>
            <th>日</th>
            <th>曜日</th>
            <th>講師</th>
            <th>前半生徒</th>
            <th>後半生徒</th>
        </tr>

        {% for day,weekday,matched_teachers,unmatched_teachers,student_first,student_second in schedule %}
        <tr>
            <td>{{ day }}</td>
            <td>{{ weekday }}</td>
            <td class="selectContainer">
                <select name="teacher_{{ day }}[]" class="selectClass">
                    {% for teacher_req in matched_teachers %}
                        {% for teacher in teachers %}
                            {% if teacher.teacher_number == teacher_req %}
                                <option value="{{ teacher.teacher_number }}">{{ teacher.name }}</option>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}

                    {% for teacher_req in unmatched_teachers %}
                        {% for teacher in teachers %}
                            {% if teacher.teacher_number == teacher_req %}
                                <option value="{{ teacher.teacher_number }}">{{ teacher.name }}</option>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}

                    <option value="">先生なし</option>
                </select>
                <div class="buttons">
                    <button class="addButton">追加</button>
                    <button class="deleteButton">削除</button>
                </div>
                
            </td>
            <td>
                {% for student_number in student_first %}
                    {% for student in students %}
                        {% if student.student_number == student_number %}
                            {{ student.name }}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </td>
            <td>
                {% for student_number in student_second%}
                    {% for student in students %}
                        {% if student.student_number == student_number %}
                            {{ student.name }}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <input type="submit" value="確認画面へ">
</form>

<script>
    $(document).ready(function() {
        $('.selectClass').on('change', function() {
            var selectedStudent = $(this).val();
            var selects = $(this).parent('.selectContainer').find('.selectClass');
            selects.each(function() {
                if ($(this).val() == selectedStudent && this !== event.target) {
                    alert('同じ生徒を同じ日に複数回選ぶことはできません。');
                    $(event.target).val(''); // Reset the select value
                }
            });
        });

        // 追加ボタンがクリックされたときのイベント
        $('.addButton').on('click', function(e) {
            e.preventDefault();
            var parent = $(this).closest('.selectContainer');
            var select = parent.find('.selectClass').first().clone();
            select.val('');  // クローンした選択ボックスの値をクリア
            parent.find(".buttons").before(select);
        });
    
        // 削除ボタンがクリックされたときのイベント
        $('.deleteButton').on('click', function(e) {
            e.preventDefault();
            var parent = $(this).closest('.selectContainer');
            var selects = parent.find('.selectClass');
            if (selects.length > 1) {  // 少なくとも1つの選択ボックスが残るように
                selects.last().remove();
            }
        });
    });
</script>

{% endblock %}