<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>シフト作成</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'my_shift_app/shift_confirm_style.css' %}">
</head>

<body>
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<h1>{{ year }}年{{ month }}月のシフト表</h1>
<form action ="" method="POST">
    {% csrf_token %}
    <table>
        <tr>
            <th>日</th>
            <th>曜日</th>
            <th>講師</th>
            <th>前半生徒</th>
            <th>後半生徒</th>
        </tr>

        {% for day,weekday,student_first,student_second in schedule %}
        {% if weekday == "土" %}
        <tr class="saturday">
        {% elif weekday == "日" %}
        <tr class="sunday">
        {% else %}
        <tr>
        {% endif %}
            <td>{{ day }}</td>
            <td>{{ weekday }}</td>
            <td>
                {{講師}}
            </td>
            <td>
                {% for student_number in student_first %}
                    {% for student in students %}
                        {% if student.student_number == student_number %}
                            {{ student.name }}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </td>
            <td>
                {% for student_number in student_second%}
                    {% for student in students %}
                        {% if student.student_number == student_number %}
                            {{ student.name }}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <input type="submit" class="btn-submit" value="保存">
</form>

{% endblock %}

</body>
</html>