<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>シフト作成</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'my_shift_app/student_style.css' %}">
</head>
    <body>


{% block content %}
<h1>生徒登録</h1>
<form method="POST">
    {% csrf_token %}
    <div class = "student_number" >
        <label for="{{ form.student_number.id_for_label }}">
                生徒番号<br>
                {{ form.student_number }}
        </label>
        <br>
    </div>
    <div class = "student">
        <label for="{{ form.name.id_for_label }}">
                生徒名<br>
                {{ form.name }}
        </label>
        <br>
    </div>
    <div class = "teacher">
        担当講師<br>
        <label for="{{ form.teacher.id_for_label }}">
            <div>  
                {{ form.teacher }}
            </div>  
        </label>
    </div>
    <button type="submit" class="btn-submit">登録</button>
</form>

<h1>生徒リスト</h1>

<table>
    <tr>    
            <th>生徒番号</th>
            <th>生徒名</th>
            <th>講師番号</th>
            <th>講師名</th>
    </tr>
    {% for student in students %}
    <tr>
        <td>{{ student.student_number }}</td>
        <td>{{ student.name }}</td>
        <td>{{ student.teacher.teacher_number }}</td>
        <td>{{ student.teacher.name }}</td>
    </tr>
    {% endfor %}
    {% endblock %}
</table>
