<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>シフト作成</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'my_shift_app/table_style.css' %}">
</head>

<body>
    <h1>{{year}}年 {{month}}月のシフト計画</h1>


    <form method="POST">
        {% csrf_token %}
        <div class = teacher>
            講師<br>
            <label for="{{ form.teacher_name.id_for_label }}">
                <div>
                    {{ form.teacher_name }}
                </div>
            </label>
        </div>
    </form>

    <!-- <select name="teacher" id="teacher{{ forloop.counter }}">
        <option value="">講師を選択してください</option>
        {% for teacher in teachers %}
            <option value="{{ teacher.teacher_number }}">{{ teacher.name }}</option>
        {% endfor %}
    </select> -->
<table>
    <tr>
        <th>日にち</th>
        <th>曜日</th>
        <th>講師</th>
    </tr>

    {% for day, weekday in days_with_weekday %}
    {% if weekday == "土" %}
        <tr class="saturday">
    {% elif weekday == "日" %}
        <tr class="sunday">
    {% else %}
        <tr>
    {% endif %}
        <td>{{ day }}</td>
        <td>{{ weekday }}</td>
        <td>
            <div id="teacher_container{{ forloop.counter }}">
                <!-- Here the select boxes will be appended -->
            </div>
            <input type="radio" id="OK" name="{{ day }}_shift" value="OK" checked>出勤可
            <input type="radio" id="NO" name="{{ day }}_shift" value="NO">出勤不可
            <!-- <button class="addTeacher" id="addTeacher{{ forloop.counter }}">講師追加</button> -->
        </td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'my_shift_app:index' %}">年月選択画面に戻る</a>
</body>
</html>
