{% extends "my_shift_app/base_generic.html" %}

{% block content %}
<h1>講師登録</h1>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">登録</button>
</form>

<h1>講師リスト</h1>
    <table>
        <tr>
            <th>講師番号</th>
            <th>講師名</th>
        </tr>
        
        {% for teacher in teachers %}
        <tr>
        <td>{{ teacher.teacher_number }}</td>
        <td>{{ teacher.name }}</td>
        </tr>
        {% endfor %}
    </tr>
    </table>

{% endblock %}